##################
Tools dependencies
##################
.idea/

#################
Compiled binaries
#################
**.py[cod]

####################
Locale configuration
####################
**/local_settings.py
logs/**
**/migrations/[0-9]*.py

#############
Local assets
#############
staticroot/**
staticfiles/**

#########
DB files
#########
*.sqlite3
