##################
Tools dependencies
##################
.idea/

#################
Compiled binaries
#################
**.py[cod]

####################
Locale configuration
####################
**/local_settings.py
logs/**

#############
Local assets
#############
staticroot/**

#########
DB files
#########
*.sqlite3
